
header, footer {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  text-align: center;
  max-width: 600px;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: center;
}